body, html{
    height: 100%;
    width: 100%;

}
body {
font-family: Arial, sans-serif;
text-align: center;
margin: 0px;
}
.header{
    width: 100%;
    padding: 15px;
    margin: 0px;
    border: 0px;
    background-color: #0ee3a3;
    display: flex;
    font-size: 1.5em;
}
#frame {
width: 1000px;
height: 1000px;
border: 5px solid #333;
margin: 0 auto;
position: relative;
}
.mark {
position: absolute;
background-color: rgba(255, 0, 0, 0.5);
}
.preview-settings {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .area-size, .positions {
    width: 45%;
  }
.buttons, .positions {
margin-top: 20px;
}
.buttons button,
.positions button,
.buttons input {
margin: 5px;
padding: 10px 15px;
font-size: 16px;
}
.preview-settings{
    display:flexbox;
}
